weights/
experiments/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/

# Environments
.env
.envrc
.venv/
env/
venv/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Type checkers
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Misc
*.log
*.log.*
tempCodeRunnerFile.py
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml

experiments/
weights/*.pth
