numpy        == 1.26.4
PyYAML       == 6.0.2
Pillow       == 11.0.0
scipy        == 1.15.3
scikit-image == 0.26.0
tqdm         == 4.67.1
torch        == 2.3.0
torchvision  == 0.18.0
lpips        == 0.1.4
kornia       == 0.7.2
open-clip-torch == 2.24.0
openai-clip  == 1.0.1
